include html_template
    title Login Page
body 
    include media_header
    div#login-nav
        h1 PuGiFy
        img(class="logo" src="/images/pug_logo.png" alt="Pug Picture")
        h3 New account created successfully!
        a(class="login-create" href="/login") Login
div.pagination
    div Chork @ 2023. All rights reserved.